<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="color: aqua"> Welcome to MyHotel </h1>


<p style="display: inline ; color: #4cae4c"> Find all the Room Types </p>
<button> <a href="/MyHotel/RoomTypes"> Click </a></button>

<br/>
<br/>
<br/>
<br/>

<p style="display: inline ; color: #2e6da4" > Find all the Customers </p>
<button> <a href="/MyHotel/Customers"> Click </a></button>

<br/>
<br/>
<br/>
<br/>

<p style="display: inline ; color: red" > Find all the Reservations of Customer "Customer2 "
</p>
<button> <a href="/MyHotel/Query1"> Click </a></button>


<br/>
<br/>
<br/>
<br/>

<p style="display: inline ; color: blue" > Get all customers who have ever booked room number 140
</p>
<button> <a href="/MyHotel/Query2"> Click </a></button>


<br/>
<br/>
<br/>
<br/>

<p style="display: inline ; color: green" > Get all customers who have reservations more than 2 times
</p>
<button> <a href="/MyHotel/Query3"> Click </a></button>

<br/>
<br/>
<br/>
<br/>


<p style="display: inline ; color: purple" > Which Guests have selected double rooms
</p>
<button> <a href="/MyHotel/Query4"> Click </a></button>


<br/>
<br/>
<br/>
<br/>

<!--<form action="/MyHotel/Query3" method="post">-->
<!--     {% csrf_token %}-->
<!--    <label for="your_name">Your name: </label>-->
<!--    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">-->
<!--    <input type="submit" value="OK">-->
<!--</form>-->

</body>
</html>