{% if code %}
Room Types
<table border="3">
    <th> ID </th>
    <th> Type</th>
    <th> Price </th>
    {% for c in code %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.type}}</td>
        <td>{{c.price}}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}



{% if code2 %}
Guests
<table border="3">
    <th> ID </th>
    <th> Room Number </th>
    <th> Name </th>
    <th> Arrival_Time </th>
    <th> Leave_time </th>
    {% for c in code2 %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.room_number}}</td>
        <td>{{c.surname}}</td>
        <td>{{c.come_time}}</td>
        <td>{{c.leave_time}}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}


{% if reserved %}
Guests
<table border="3">
    <th> ID </th>
    <th> Room Number </th>
    <th> Bill_id </th>
    <th> Banquet_id </th>
    <th> Date_from </th>
    <th> Date_until </th>
    {% for c in reserved %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.room_number}}</td>
        <td>{{c.bill_id}}</td>
        <td>{{c.banquet_id}}</td>
        <td>{{c.date_from}}</td>
        <td>{{c.date_until}}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}